body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
}
.borders{
    border: 1px solid red;
}
/* 구글 폰트 inder -title ---main page에 맞게 수정함 */
.inder-regular {
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    font-weight: bold;
    line-height: 2em;
    letter-spacing: 2px;
  }
/* 구글 폰트 kurale -description ---main page에 맞게 수정함 */
  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
 /*------------------- 네브바 폰트-------------------------------------- */
/* 구글 폰트 Noto sans mono - navbar menu ---main page에 맞게 수정함 */
.noto-sans-mono-nav-item {
    font-family: "Noto Sans Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-variation-settings:
      "wdth" 100;
  }
  /*------------------- 네브바 폰트-------------------------------------- */

.main-container-area{
    padding: 45px;
}
/* 네브바 영역 */
.main-nav-area{
    display: flex;
    justify-content: space-between;
}
.main-logo-img{
    width: 310px;
}
.main-nav-item-area{
    display: flex;
    width: 399.275px;
    align-items: center;
    justify-content: space-between;
}
.main-nav-item-area>a{
    text-decoration: none;
    color: #181716;
    font-size: 16px;
    line-height: 24px; 
}
.main-nav-item-area>a:hover{
    color: #92b1c4; /* 기본형 네브바 메뉴 호버기능 추가 */
}
/* 반응형 타입 네브바 */
.reaction-type-menu {
    position: relative;
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    margin: 0;
  }
.reaction-type-logo{
    object-fit: inherit;
    width: 100%;
}
#menu-button{
    background-color: white;
    border: none;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    cursor: pointer;
}
/* 기본 상태에서 메뉴 숨기기 */
.reaction-type-menu-item {
    display: flex; /* flex는 유지 */
    flex-direction: column;
    gap: 10px;
    max-height: 0; /* 높이를 0으로 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    transition: max-height 0.3s ease, padding 0.3s ease; /* 부드러운 애니메이션 */
    padding: 0; /* 초기 패딩 제거 */
  }
  
.reaction-type-menu-item>a{
    text-decoration: none;
    padding-bottom: 20px;
    color: #181716;
}
.reaction-type-menu-item.active {
    max-height: 300px; /* 메뉴가 열릴 때의 최대 높이 (적절히 설정) */
    padding: 10px 0; /* 메뉴가 열릴 때 패딩 추가 */
  }

  @media (max-width:995px) {
        .main-nav-area{
            position: relative;
            padding-bottom: 50px;
        }
        .main-nav-item-area{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    @media (max-width:772px){
        .main-nav-area{
            display: none;
        }
        .main-container-area{
            padding-top: 0;
        }
        .reaction-type-menu{
            display: flex;
        } 
    }
    /* ----------------------footer 영역 관련 --------------------*/

    .footer-line {
        border: none;
        color: #bbb;
        background-color: #bbb;
        height: 1px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      
      .footer-dot {
        color: black;
      }
      
      .footer-dot a {
        text-decoration: none;
        color: #92b1c4;
      }
      .footer-second-info {
        font-style: oblique;
        font-size: 14px;
      }
      .footer-third-line {
        letter-spacing: 2px;
      }
      
      @media screen and (max-width: 48rem) {
        .footer-dot {
          padding-left: 2rem;
          padding-right: 2rem;
          text-align: center;
          display: block;
        }
      }
      
      /* ------------------------- work ----------------------- */
      .divider {
        border-top: 1px solid #bbb;
      }
      
      .masonry {
        display: flex;
        width: auto;
      }
      
      .masonry-item {
        margin-bottom: 15px;
        padding-left: 15px;
      }
      
      .masonry-item img {
        width: 100%;
        display: block;
      }
      
      .img-container {
        position: relative;
        display: inline-block;
      
        .img-title {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: rgb(255, 255, 255, 0.75);
          color: black;
          font-family: 'Inder', serif;
          text-align: center;
          font-size: 17px;
          font-weight: 300;
          opacity: 0;
          transform: translateY(10px);
          transition: all 0.3s ease;
          text-transform: uppercase;
        }
      
        .img-hover {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      
      .img-container:hover {
        cursor: pointer;
      
        .img-title {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
    .icon-container {
        .fa-instagram {
          color: #e4405f;
        }
      
        .fa-pinterest {
          color: #cb2127;
        }
      
        .fa-instagram:hover,
        .fa-pinterest:hover {
          cursor: pointer;
          transform: scale(1.2);
          transition: all 0.3s ease;
        }
      }
      
      /*--------------------------- footer 영역 관련----------------------- */

.shop-img{
    width: 100%;
    max-width: 200px;

}
.bulletin-link{
    text-decoration: none;
    color: #92b1c4;
}