body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
}
.borders{
    border: 1px solid red;
}
/* 구글 폰트 inder -title ---main page에 맞게 수정함 */
.inder-regular {
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    font-weight: bold;
    line-height: 2em;
  }
/* 구글 폰트 kurale -description ---main page에 맞게 수정함 */
  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
 /*------------------- 네브바 폰트-------------------------------------- */
/* 구글 폰트 Noto sans mono - navbar menu ---main page에 맞게 수정함 */
.noto-sans-mono-nav-item {
    font-family: "Noto Sans Mono", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    font-variation-settings:
      "wdth" 100;
  }
  /*------------------- 네브바 폰트-------------------------------------- */

.main-container-area{
    padding: 45px;
}
/* 네브바 영역 */
.main-nav-area{
    display: flex;
    justify-content: space-between;
}
.main-logo-img{
    width: 310px;
}
.main-nav-item-area{
    display: flex;
    width: 399.275px;
    align-items: center;
    justify-content: space-between;
}
.main-nav-item-area>a{
    text-decoration: none;
    color: #181716;
    font-size: 16px;
    line-height: 24px; 
}
.main-nav-item-area>a:hover{
    color: #92b1c4; /* 기본형 네브바 메뉴 호버기능 추가 */
}
/* 반응형 타입 네브바 */
.reaction-type-menu {
    position: relative;
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    margin: 0;
  }
.reaction-type-logo{
    object-fit: inherit;
    width: 100%;
}
#menu-button{
    background-color: white;
    border: none;
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    cursor: pointer;
}
/* 기본 상태에서 메뉴 숨기기 */
.reaction-type-menu-item {
    display: flex; /* flex는 유지 */
    flex-direction: column;
    gap: 10px;
    max-height: 0; /* 높이를 0으로 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    transition: max-height 0.3s ease, padding 0.3s ease; /* 부드러운 애니메이션 */
    padding: 0; /* 초기 패딩 제거 */
  }
  
.reaction-type-menu-item>a{
    text-decoration: none;
    padding-bottom: 20px;
    color: #181716;
}
.reaction-type-menu-item.active {
    max-height: 300px; /* 메뉴가 열릴 때의 최대 높이 (적절히 설정) */
    padding: 10px 0; /* 메뉴가 열릴 때 패딩 추가 */
  }

  @media (max-width:995px) {
        .main-nav-area{
            position: relative;
            padding-bottom: 50px;
        }
        .main-nav-item-area{
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    @media (max-width:772px){
        .main-nav-area{
            display: none;
        }
        .main-container-area{
            padding-top: 0;
        }
        .reaction-type-menu{
            display: flex;
        } 
    }
    /* ----------------------footer 영역 관련 --------------------*/

.footer-line {
    border: none;
    color: #bbb;
    background-color: #bbb;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.footer-dot{
    color: black;
}

.footer-dot a {
    text-decoration: none;
    color: #92b1c4;
}
.footer-second-info{
    font-style: oblique;
    font-size: 14px;
}
.footer-third-line{
    letter-spacing: 2px;
}

@media screen and (max-width:48rem){
    .footer-dot{
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: center;
        display: block;
    }
}
/*--------------------------- footer 영역 관련----------------------- */

/*-- 메인페이지 section 1 --*/
.about-img-box{
    width: 370px;
    height: 433px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.about-section-1{
    display: flex;
    flex-wrap: wrap; /* 반응형 줄바꿈 */
    justify-content: space-between;
     align-items: flex-start;
}

.about-text{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
    text-align: left;
  }

.bulletin-img-box2 {
    flex: 1;
    min-width: 300px;
    width: 421px; /* 가로는 자동 조정 */
    height: 500px; /* 두 박스의 동일한 높이 설정 */
    overflow: hidden; /* 넘치는 부분 숨김 */
    margin: 0 auto; /* 중앙 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
  }

.bulletin-img-box2>img {
    max-width: 100%;
    height: auto;  /* 부모 높이에 맞춤 */
    object-fit: cover; /* 비율 유지하며 꽉 채움 */
  }

  @media screen and (max-width: 768px) {
    .about-section-1 {
      flex-direction: column;
    }
    .about-text {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  a{
    text-decoration: none;
  }

  body a{
    color: #92b1c4;
  }

  .main-section-6-img-box{
    width: 100%; /* 기본적으로 너비 100% */
    max-width: 1228px;
    aspect-ratio: 2.3/1;
    overflow: hidden;
    margin: 0 auto; /* 가운데 정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-section-6-img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지하며 박스 채우기 */
    object-position: 50% 24%; /* 이미지 center 값 top 값 미세 위치조정 */
}

.about-gallery{
    display: flex;
}

.about-gallery-img>div>img{
    width: 100px;
}

.about-section-5{
    display: flex;
    justify-content: space-between;
}

.about-section-5-img-box>img{
    width: 513px;
    margin-left: 150px;
}

.about-text-area{
    margin-left: 80px;
}

/* 메인 섹션-2 영역 인스타그램*/
.main-section-2{
    padding: 0;
    display: flex;
    justify-content: center;
}
.main-img-box{
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.main-img-thumbnail{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 10px;
    cursor: pointer;
}
.main-img-thumbnail:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.about-title-size{
    font-size: 30px;
}
