* {
  user-select: none;
}

.blog-container-area {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

/* 구글 폰트 inder -title */
.inder-regular {
  font-family: "Inder", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  font-weight: bold;
  line-height: 2em;
  letter-spacing: 2px;
}
/* 구글 폰트 kurale -description */
.kurale-regular {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

#post {
  padding: 0;
  text-align: left;
}

.post-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-image > span {
  width: 100%;
  text-align: left;
}

.date {
  color: #919088;
}

#gallery {
  padding: 0;
  text-align: left;
}

.card {
  border-radius: 0;
}

.card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-toggle {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#gallery_dropdown {
  display: block;
}

.pagination {
  background-color: skyblue;
}

/* 설정 */

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.full-width-line {
  width: 100%;
  height: 1px;
  background-color: #000;
}
